body 
{
    background-color: rgba(34, 27, 27, 0.86);
    color: rgba(6, 199, 64, 0.804);
    z-index: 1;
}

#T
{
    text-align: center;
}

#logo
{
    position:fixed;
    top: 4%;
    left: 2%;
    border-radius: 25%;
}

#topBar
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    width: 100%;
    
}

#search
{
    position: absolute;
    left: 42%;
    top: 100%;
}