* {
    letter-spacing: -1.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
    font-style: italic;
    letter-spacing: -6em;
    font-weight: 500;
    margin: 0;
    color: #3A5D86;
    background: linear-gradient(to bottom, #96D2FF, #C2EFB3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Top Bar Styling */
#topBar {
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start; /* Align logo and title to the left */
    justify-content: flex-start;
    width: 100%;
    height: 8vh;
    padding: 1rem;
    background-color: #395AA6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#logo {
    height: 75px;
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
}

#triangle
{
    color: white;
    position: absolute;
    font-size: 26px;
    left: 0.02rem;
    top: 0.04rem;
}

#t {
    font-family: 'Gabarito';
    font-style:normal;
    font-weight: 700;
    font-size: 2.3rem;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    letter-spacing: 2px;
    margin-left: 4rem;
    position: absolute;
    top: 0.95rem;
}

/* Input Field Container (Left aligned and vertically centered) */
#input-container {
    margin-top: 100px;
    max-width: 600px;
    padding-left: 40px;
    position: absolute; 
    left: 220px;
    top: 33%; 
    transform: translateY(-50%);
    text-align: left; 
    overflow-wrap: break-word;
    margin-block-end: 600px;
}

#dtext {
    font-family: "Inter";
    font-style: italic;
    color: black;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    text-align: center;
    max-width: 600px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.5; 
    margin-top: 10px; 
    position: absolute;
    top: -4.6rem;
}

/* Input Field Styling */
#in {
    font-family: "Inter" sans-serif;
    
    font-weight: 550;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 34px;
    font-style: italic;
    color: #3A5D86;
    border-width: 4px;
    border-radius: 100px;
    height: 70px;
    width: 600px;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #395AA6);
    border-color: #4268BD;
    border-style: solid;
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

#in::placeholder {
    color: #395AA6;
    font-style: italic;
    font-weight: semi-bold; 
    font-size: 34px;
    align-self: center; 
}

#advanced
{
    width: 20rem;
    height: 3rem;
    font-size: 24px;
    padding-top: 6px;
    position: absolute;
    left: 11rem;
    text-align: center;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    border-width: 3px;
    border-radius: 100px;
    border-color: #395AA6;
    border-style: solid;
    outline: none;
    color: #395AA6;
    transition: filter 1s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
    z-index: 1;
}

#dropdown
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 17.15rem;
    top: 0.23rem;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 24px;
    color: white;
    font-weight:bolder;
    box-shadow: none;
    background: #4268BD;
    border-color: #4268BD;
    z-index: 1;
}

/* Button Styling */
#button-container {
    display: flex;
    flex-direction: column;       
    align-items: center;    
    position: absolute;
    right: 120px;                  
    top: 43%;
    transform: translateY(-50%);           
    padding-top: 0px;
    padding-right: 20px;
}

#generate
{
    font-family: "Inter" sans-serif;
    font-weight: 550;
    letter-spacing: -0.06em;
    color: #3A5D86;
    border-color: #395AA6;
    border-width: 3px;
    position: absolute;
    bottom: 0px;
    right: 330px;
    height: 3.4rem;
}

#square-box {
    top: 30px;
    width: 800px;
    height: 800px;
    background-color: transparent;
}

#adv_search
{
      color: #3A5D86;
      display: none;
      position: absolute;
      top: 7rem;
      height: 16rem;
      width: 18rem;
      background: #C2EFB3;
      border-style: solid;
      border-color: #4268BD;
      border-width: 2.5px;
      transition: height 0.5s ease;
      left: 12rem;
      text-align: center;
      border-radius: 25px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      z-index: 0;
}

.slider
{
    margin: 12px;
    -webkit-appearance: none;  
    appearance: none;
    width: 75%; 
    height: 25px; 
    background: white; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    border-width: 2.4px;
    border-style: solid;
    border-color:#224492;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 42px; 
    height: 32px;
    background: linear-gradient(90deg, #96D2FF, #F0849E);
    cursor: pointer; 
    border-radius: 20px;
    border-style: solid;
    border-width: 2.4px;
    border-color:#224492;
  }

#BPMstart 
{
    position: absolute;
    top: 5.9rem;
    font-size: 10px;
    left: 2rem;
    z-index: 999
}

#BPMend
{
    position: absolute;
    top: 5.9rem;
    font-size: 10px;
    left: 15.1rem;
    z-index: 999
}

#DURstart 
{
    position: absolute;
    top: 10.1rem;
    font-size: 10px;
    left: 2.3rem;
    z-index: 999
}

#DURend
{
    position: absolute;
    top: 10.1rem;
    font-size: 10px;
    left: 15.2rem;
    z-index: 999
}

#NUMstart 
{
    position: absolute;
    top: 14.4rem;
    font-size: 10px;
    left: 2.3rem;
    z-index: 999
}

#NUMend
{
    position: absolute;
    top: 14.4rem;
    font-size: 10px;
    left: 15.3rem;
    z-index: 999
}

button {
    width: 200px;
    height: 70px;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    border-width: 5px;
    border-radius: 100px;
    border-color: #395AA6;
    border-style: solid;
    outline: none;
    font-size: 34px;
    font-weight: semi-bold;
    color: #395AA6;
    transition: filter 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.7); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
}