* {
    letter-spacing: -1.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Commissioner', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #96D2FF, #C2EFB3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Top Bar Styling */
#topBar {
    display: flex;
    align-items: flex-start; /* Align logo and title to the left */
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    background-color: #395AA6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#triangle
{
    position: absolute;
    font-size: 26px;
    left: -0.079rem;
    top: -0.1rem;
}

#t {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    letter-spacing: 2px;
    margin: 0;
}

/* Input Field Container (Left aligned and vertically centered) */
#input-container {
    margin-top: 100px;
    max-width: 600px;
    padding-left: 40px;
    position: absolute; 
    left: 120px;
    top: 40%; 
    transform: translateY(-50%);
    text-align: left; 
    overflow-wrap: break-word;
    margin-block-end: 600px;
}

#dtext {
    color: black;
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    max-width: 600px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.5; 
    margin-top: 10px; 
}

/* Input Field Styling */
#in {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 34px;
    font-style: italic;
    color: #395AA6;
    border-width: 5px;
    border-radius: 100px;
    height: 70px;
    width: 600px;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #395AA6);
    border-color: #395AA6;
    border-style: solid;
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

#in::placeholder {
    color: #395AA6;
    font-style: italic;
    font-weight: semi-bold; 
    font-size: 34px;
    align-self: center; 
}

#advanced
{
    width: 20rem;
    height: 3rem;
    font-size: 24px;
    padding-top: 6px;
    position: absolute;
    left: 11rem;
    text-align: center;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    border-width: 5px;
    border-radius: 100px;
    border-color: #395AA6;
    border-style: solid;
    outline: none;
    color: #395AA6;
    transition: filter 1s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
    z-index: 1;
}

#dropdown
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 17rem;
    top: 0.241rem;
    width: 2rem;
    height: 2rem;
    font-size: 24px;
    color: white;
    font-weight:bolder;
    box-shadow: none;
    background: #395AA6;
    z-index: 1;
}

/* Button Styling */
#button-container {
    display: flex;
    flex-direction: column;       
    align-items: center;    
    position: absolute;
    right: 40px;                  
    top: 50%;
    transform: translateY(-50%);  
    gap: 15px;                   
    padding-right: 150px;
}

#square-box {
    width: 500px;
    height: 500px;
    background-color: transparent;
    margin-bottom: 20px;
}

@keyframes dropdown
{
    0% {max-height: 0;
        opacity: 0;}
    100% {max-height: 32vh;
        opacity: 1;}
}

@keyframes dropUp {
    0% {
      max-height: 32vh;
      opacity: 1;
    }
    100% {
      max-height: 0;
      opacity: 0;
    }
  }

#adv_search
{
      color: #395AA6;
      display: none;
      position: absolute;
      top: 7rem;
      height: 16rem;
      width: 18rem;
      background: #C2EFB3;
      transition: height 0.5s ease;
      left: 12rem;
      text-align: center;
      border-radius: 25px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      z-index: 0;
}


.slider
{
    margin: 12px;
    -webkit-appearance: none;  
    appearance: none;
    width: 75%; 
    height: 25px; 
    background: white; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    border-width: 2.4px;
    border-style: solid;
    border-color:#224492;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 42px; 
    height: 32px;
    background: linear-gradient(90deg, #96D2FF, #F0849E);
    cursor: pointer; 
    border-radius: 20px;
    border-style: solid;
    border-width: 2.4px;
    border-color:#224492;
  }

#BPMstart 
{
    position: absolute;
    top: 5.9rem;
    font-size: 10px;
    left: 2rem;
    z-index: 999
}

#BPMend
{
    position: absolute;
    top: 5.9rem;
    font-size: 10px;
    left: 15.1rem;
    z-index: 999
}

#DURstart 
{
    position: absolute;
    top: 10rem;
    font-size: 10px;
    left: 2.3rem;
    z-index: 999
}

#DURend
{
    position: absolute;
    top: 10rem;
    font-size: 10px;
    left: 15.2rem;
    z-index: 999
}

#NUMstart 
{
    position: absolute;
    top: 14.2rem;
    font-size: 10px;
    left: 2.3rem;
    z-index: 999
}

#NUMend
{
    position: absolute;
    top: 14.2rem;
    font-size: 10px;
    left: 15.3rem;
    z-index: 999
}

button {
    width: 200px;
    height: 70px;
    background: linear-gradient(90deg, #C2EFB3, #F0849E, #96D2FF);
    border-width: 5px;
    border-radius: 100px;
    border-color: #395AA6;
    border-style: solid;
    outline: none;
    font-size: 34px;
    font-weight: semi-bold;
    color: #395AA6;
    transition: filter 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.7); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); 
}